uart0 {
    status = "disabled";
};
uart1 {
    status = "disabled";
};
&pwm0 {
	status = "okay";
};
&pwm1 {
	status = "okay";
};
&adc {
    status = "okay";
    compatible = "nordic,nrf-saadc";
};

gpio_fwd: nrf-gpio-forwarder {
    compatible = "nordic,nrf-gpio-forwarder";
    status = "disabled";

    uart {
        gpios = <&gpio1 1 0>, <&gpio1 0 0>, <&gpio0 11 0>, <&gpio0 10 0>;
    };
};